# MoodStream: подготовка данных

## Датасеты

Необходимые данные:
- постер
- жанр
- продолжительность/количество страниц
- рейтинг
- идентификатор пользователя
- рейтинг отзыва

Жанр, продолжительность и рейтинг позволяют решать задачу подбора "в лоб", а датасеты с отзывами позволят подобрать похожих на пользователя рецензентов и сделать выдачу более релевантной.

https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows 1000 фильмов, постер, название, продолжительность, жанр, год выхода

https://www.kaggle.com/datasets/ashishjangra27/imdb-movies-dataset 2.5М фильмов, название, продолжительность, жанр, год выхода

https://zenodo.org/record/7665868#.ZElLGn7P3zc название, дата выхода, жанр, отзывы с оценками

https://www.kaggle.com/datasets/whenamancodes/popular-movies-datasets-58000-movies название, отзывы с оценками

https://www.kaggle.com/datasets/veeralakrishna/movielens-25m-dataset название, отзывы с оценками

https://www.kaggle.com/datasets/devanshiipatel/imdb-tv-shows 2986 сериалов, название, продолжительность эпизода, жанр, годы выхода


---


https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset : 271360 книг, названия, средние изображения, оценки пользователей

https://www.kaggle.com/datasets/ruchi798/bookcrossing-dataset : 271379 книг, названия, средние изображения, оценки пользователей

https://www.kaggle.com/datasets/bahramjannesarr/goodreads-book-datasets-10m : 2М книг, названия, количество страниц

https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews : 212404 книг, названия, средние изображения, жанры, оценки пользователей

https://www.kaggle.com/datasets/thedevastator/comprehensive-overview-of-52478-goodreads-best-b жанры

https://www.kaggle.com/datasets/michaelrussell4/10000-books-and-their-genres-standardized жанры

---


https://www.kaggle.com/datasets/maharshipandya/-spotify-tracks-dataset 89741 песен, название, артист, продолжительность в мс, танцевальность, энергичность

https://www.kaggle.com/datasets/zaheenhamidani/ultimate-spotify-tracks-db 176774 песен, название, артист, жанр, продолжительность в мс, танцевальность, энергичность, акустичность, инструменталичность

https://www.kaggle.com/datasets/paradisejoy/top-hits-spotify-from-20002019 1879 песен, название, артист, продолжительность в мс, танцевальность, энергичность

https://www.kaggle.com/datasets/yamaerenay/spotify-dataset-19212020-600k-tracks 586672 песен, название, артист, продолжительность в мс, танцевальность, энергичность

https://www.kaggle.com/datasets/cbhavik/music-taste-recommendation есть пользователи и лайки. данные песен обезличены, поэтому можно использовать для моков

https://www.kaggle.com/datasets/muhmores/spotify-top-100-songs-of-20152019 название, артист, жанр

## Предобработка данных по фильмам

### Импорты

In [1]:
import pandas as pd
import os

### IMDB Movies TOP-1000

In [2]:
# https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows
IMDB_TOP_1000_PATH = './datasets/src/movies/imdb-dataset-of-top-1000-movies-and-tv-shows.csv'
df1 = pd.read_csv(IMDB_TOP_1000_PATH)
df1 = df1[['Poster_Link', 'Series_Title', 'Released_Year', 'Genre', 'IMDB_Rating']]
df1 = df1.rename(columns={'Series_Title': 'Title'})
df1['token'] = df1['Title'].str.lower()
df1['token'] = df1['token'].str.replace(pat='[^\w]', repl='', regex=True)

df1.head(5)

,Poster_Link,Title,Released_Year,Genre,IMDB_Rating,token
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,Drama,9.3,theshawshankredemption
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,"Crime, Drama",9.2,thegodfather
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,"Action, Crime, Drama",9.0,thedarkknight
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,"Crime, Drama",9.0,thegodfatherpartii
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,"Crime, Drama",9.0,12angrymen

### Movies and Ratings

In [3]:
# https://zenodo.org/record/7665868#.ZElLGn7P3zc 
MOVIE_LENS_45K_MOVIES_PATH = './datasets/src/movies/ZElLGn7P3zc/movies.csv' 
df2_movies = pd.read_csv(MOVIE_LENS_45K_MOVIES_PATH, delimiter='\t')
df2_movies['token'] = df2_movies['Title'].str.lower()
df2_movies['token'] = df2_movies['token'].str.replace(pat='[^\w]', repl='', regex=True)

df2_movies.head()

,MovieID,Title,Release_date,Budget,Genres,Spoken_languages,token
0,1,Toy Story,1995-10-30,30000000,"[{\id\"": 16, \""name\"": \""Animation\""}, {\""id\""...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}]""",toystory
1,2,Jumanji,1995-12-15,65000000,"[{\id\"": 12, \""name\"": \""Adventure\""}, {\""id\""...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}...",jumanji
2,3,Grumpier Old Men,1995-12-22,0,"[{\id\"": 10749, \""name\"": \""Romance\""}, {\""id\...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}]""",grumpieroldmen
3,4,Waiting to Exhale,1995-12-22,16000000,"[{\id\"": 35, \""name\"": \""Comedy\""}, {\""id\"": 1...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}]""",waitingtoexhale
4,5,Father of the Bride Part II,1995-02-10,0,"[{\id\"": 35, \""name\"": \""Comedy\""}]""","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}]""",fatherofthebridepartii

In [4]:
MOVIE_LENS_26M_RATINGS_PATH = './datasets/src/movies/ZElLGn7P3zc/ratings.csv'
df2_ratings = pd.read_csv(MOVIE_LENS_26M_RATINGS_PATH)
df2_ratings.head()

   userId  movieId  rating  timestamp
0   58365       31     3.0  836391314
1   58365       32     5.0  836391153
2   58365       34     4.0  836391124
3   58365       44     4.0  836391253
4   58365       48     3.0  836391292

### Подготовка результирующих датасетов

В исходных датасетах по фильмам добавлено поле `token`, куда помещено обработанное название фильма - в нижнем регистре, без знаков препинания и пробелов. По этому полю и будет производиться объединение.

In [5]:
df = df1.merge(df2_movies, on='token')
df.head(5)

,Poster_Link,Title_x,Released_Year,Genre,IMDB_Rating,token,MovieID,Title_y,Release_date,Budget,Genres,Spoken_languages
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,Drama,9.3,theshawshankredemption,318,The Shawshank Redemption,1994-09-23,25000000,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 80...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}]"""
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,"Crime, Drama",9.2,thegodfather,858,The Godfather,1972-03-14,6000000,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 80...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}..."
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,"Action, Crime, Drama",9.0,thedarkknight,58559,The Dark Knight,2008-07-16,185000000,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 28...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}..."
3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,"Action, Crime, Drama",9.0,thedarkknight,130219,The Dark Knight,2011-07-11,0,"[{\id\"": 28, \""name\"": \""Action\""}, {\""id\"": 8...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}]"""
4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,"Crime, Drama",9.0,thegodfatherpartii,1221,The Godfather: Part II,1974-12-20,13000000,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 80...","[{\name\"": \""English\"", \""iso_639_1\"": \""en\""}..."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 928 entries, 0 to 927
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Poster_Link       928 non-null    object
 1   Title_x           928 non-null    object
 2   Released_Year     928 non-null    object
 3   Genre             928 non-null    object
 4   IMDB_Rating       928 non-null    float64
 5   token             928 non-null    object
 6   MovieID           928 non-null    int64
 7   Title_y           928 non-null    object
 8   Release_date      928 non-null    object
 9   Budget            928 non-null    int64
 10  Genres            928 non-null    object
 11  Spoken_languages  928 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 94.2+ KB

Необходимо переименовать колонки и оставить в датафрейме только нужные.

In [7]:
movie_df = df.rename(columns={'Poster_Link': 'poster', 'Title_x': 'title', 'Released_Year': 'year', 'IMDB_Rating': 'imdb_rating', 'MovieID': 'movie_id', 'Genres': 'genres'})
movie_df = movie_df[['poster', 'title', 'year', 'imdb_rating', 'movie_id', 'genres']]
movie_df = movie_df[movie_df['genres'] != '[]']
movie_df.head(5)

,poster,title,year,imdb_rating,movie_id,genres
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,9.3,318,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 80..."
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,9.2,858,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 80..."
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,58559,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 28..."
3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,130219,"[{\id\"": 28, \""name\"": \""Action\""}, {\""id\"": 8..."
4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,9.0,1221,"[{\id\"": 18, \""name\"": \""Drama\""}, {\""id\"": 80..."

Требуется предварительная обработка списка жанров - по какой-то причине из файла некорректно считываются строки с жанрами и их надо дополнительно обрабатывать.

In [8]:
import json

def format_genres(genres):
    try:
        valid_json = "\"" + genres
        valid_json = valid_json.replace("\\", "\\\"", 1)
        result = json.loads(json.loads(valid_json))
        return ','.join(list(map(lambda x: x['name'].lower(), result)))
    except:
        return []

movie_df['genres'] = movie_df['genres'].apply(format_genres)
movie_df.head(5)

,poster,title,year,imdb_rating,movie_id,genres
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,9.3,318,"drama,crime"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,9.2,858,"drama,crime"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,58559,"drama,action,crime,thriller"
3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,130219,"action,crime,drama,thriller"
4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,9.0,1221,"drama,crime"

Заменяю ссылку на постер - делаю большего размера.

In [9]:
movie_df['poster'] = movie_df['poster'].str.replace('_V1_UX67_CR0,0,67,98_AL_', '_V1_UX268_CR0,0,268,392_AL_')
movie_df.head(5)

,poster,title,year,imdb_rating,movie_id,genres
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,9.3,318,"drama,crime"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,9.2,858,"drama,crime"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,58559,"drama,action,crime,thriller"
3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,130219,"action,crime,drama,thriller"
4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,9.0,1221,"drama,crime"

Анализирую и удаляю дубли

In [10]:
movie_df[movie_df.duplicated()]

,poster,title,year,imdb_rating,movie_id,genres
243,https://m.media-amazon.com/images/M/MV5BMWFjZj...,Le samouraï,1967,8.1,7587,"crime,drama,thriller"
244,https://m.media-amazon.com/images/M/MV5BMWFjZj...,Le samouraï,1967,8.1,27136,"crime,drama,thriller"

Кажется, что дублей совсем уж мало. Попробую оставить только те колонки, комбинация которых указывает на то, что это - не дубль.

In [11]:
movie_df_dup_test = movie_df[['title', 'year', 'imdb_rating']]
movie_df_dup_test[movie_df_dup_test.duplicated()]

               title  year  imdb_rating
3    The Dark Knight  2008          9.0
6       12 Angry Men  1957          9.0
28          Whiplash  2014          8.5
29          Whiplash  2014          8.5
42            Psycho  1960          8.5
..               ...   ...          ...
916  The Jungle Book  1967          7.6
917  The Jungle Book  1967          7.6
922            Giant  1956          7.6
926     The 39 Steps  1935          7.6
927     The 39 Steps  1935          7.6

[170 rows x 3 columns]

Оказывается, дубликатов довольно много. Избавлюсь от них.

In [12]:
movie_df[movie_df['movie_id'] == 150]

,poster,title,year,imdb_rating,movie_id,genres
893,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,7.6,150,drama

In [13]:
movie_df_dup_test = movie_df_dup_test.drop_duplicates()
movie_df = movie_df[movie_df.index.isin(movie_df_dup_test.index)]
movie_df.head(5)

,poster,title,year,imdb_rating,movie_id,genres
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,9.3,318,"drama,crime"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,9.2,858,"drama,crime"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,9.0,58559,"drama,action,crime,thriller"
4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,9.0,1221,"drama,crime"
5,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,9.0,1203,drama

In [14]:
# Создаю item_id для работы модели
movie_df = movie_df.reset_index(drop=True)
movie_df['item_id'] = movie_df.index

Отфильтрую датафрейм с отзывами по оставшимся фильмам

In [15]:
rating_df = df2_ratings[df2_ratings['movieId'].isin(movie_df['movie_id'])]
rating_df.head(5)

    userId  movieId  rating  timestamp
1    58365       32     5.0  836391153
6    58365      110     5.0  836391109
8    58365      150     5.0  836390912
11   58365      165     3.0  836390951
21   58365      223     5.0  836391314

Переименую колонки и оставлю только необходимые

In [16]:
rating_df = rating_df[['userId', 'movieId', 'rating']]
rating_df = rating_df.rename(columns={'userId': 'user_id', 'movieId': 'movie_id'})
rating_df.head(5)

    user_id  movie_id  rating
1     58365        32     5.0
6     58365       110     5.0
8     58365       150     5.0
11    58365       165     3.0
21    58365       223     5.0

Добавляю информацию о том, понравился фильм пользователю или нет. Если рейтинг ниже 7, то не понравился, иначе - понравился.

In [17]:
rating_df['liked'] = rating_df['rating'].apply(lambda x: 1 if x >= 3 else 0)
rating_df.head(5)

    user_id  movie_id  rating  liked
1     58365        32     5.0      1
6     58365       110     5.0      1
8     58365       150     5.0      1
11    58365       165     3.0      1
21    58365       223     5.0      1

In [18]:
# Добавляю item_id
rating_df = rating_df.merge(movie_df[['item_id', 'movie_id']], on='movie_id')

In [19]:
rating_df = rating_df[['user_id', 'liked', 'item_id']]
rating_df

         user_id  liked  item_id
0          58365      1      275
1          58370      1      275
2          58371      1      275
3              2      0      275
4          97176      1      275
...          ...    ...      ...
8606093   145558      1       42
8606094   147162      1       42
8606095   213259      0       42
8606096   230417      0      418
8606097   222647      1      418

[8606098 rows x 3 columns]

Подготовлю данные по жанрам

In [20]:
uniq_movie_genres = set()
for _, row in movie_df.iterrows():
    genres = row['genres'].split(',')
    uniq_movie_genres |= set(genres)

uniq_movie_genres = pd.DataFrame(list(uniq_movie_genres), columns=['genre']).sort_values(by='genre').reset_index(drop=True)
uniq_movie_genres

              genre
0            action
1         adventure
2         animation
3            comedy
4             crime
5       documentary
6             drama
7            family
8           fantasy
9           foreign
10          history
11           horror
12            music
13          mystery
14          romance
15  science fiction
16         thriller
17         tv movie
18              war
19          western

Сохраню датафреймы в файлы.
Т.к. в ссылках на постеры и названиях фильмов есть запятые, то в качестве разделителя использую таб.

In [21]:
# os.makedirs('./datasets/movies', exist_ok=True)

# movie_df.to_csv('./datasets/movies/movies.csv',
#           sep='\t', 
#           index=False)

# rating_df.to_csv('./datasets/movies/ratings.csv',
#           sep='\t', 
#           index=False)

# uniq_movie_genres.to_csv('./datasets/movies/genres.csv',
#           sep='\t', 
#           index=False)

## Предобработка данных по книгам

Для книг необходима информация:
- ISBN (первичный ключ) https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset и https://www.kaggle.com/datasets/thedevastator/comprehensive-overview-of-52478-goodreads-best-b
- Название (вторичный ключ) https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset
- Изображение https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset
- Автор https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset
- Количество страниц (можно использовать в качестве метрики времени на книгу) https://www.kaggle.com/datasets/bahramjannesarr/goodreads-book-datasets-10m
- Жанры https://www.kaggle.com/datasets/thedevastator/comprehensive-overview-of-52478-goodreads-best-b
- Отзывы https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset и https://www.kaggle.com/datasets/bahramjannesarr/goodreads-book-datasets-10m

### Импорты

In [22]:
import pandas as pd
import os

### Book Recommendation Dataset

In [23]:
# https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset
BOOK_RECOMMENDATION_PATH = './datasets/src/books/Book_Recommendation_Dataset/Books.csv'
book_recommendation_books_ds = pd.read_csv(BOOK_RECOMMENDATION_PATH, dtype={'Year-Of-Publication': 'string'})
book_recommendation_books_ds = book_recommendation_books_ds[['ISBN', 'Book-Title', 'Book-Author', 'Image-URL-L']]
book_recommendation_books_ds = book_recommendation_books_ds.rename(columns={'ISBN': 'isbn', 'Book-Title': 'title', 'Book-Author': 'author', 'Image-URL-L': 'poster'})
book_recommendation_books_ds['token'] = book_recommendation_books_ds['isbn']
book_recommendation_books_ds['token2'] = book_recommendation_books_ds['title'].str.lower().str.replace(pat='[^\w]', repl='', regex=True)

book_recommendation_books_ds.head(5)

,isbn,title,author,poster,token,token2
0,0195153448,Classical Mythology,Mark P. O. Morford,http://images.amazon.com/images/P/0195153448.0...,0195153448,classicalmythology
1,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,0002005018,claracallan
2,0060973129,Decision in Normandy,Carlo D'Este,http://images.amazon.com/images/P/0060973129.0...,0060973129,decisioninnormandy
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,http://images.amazon.com/images/P/0374157065.0...,0374157065,fluthestoryofthegreatinfluenzapandemicof1918an...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,http://images.amazon.com/images/P/0393045218.0...,0393045218,themummiesofurumchi

In [24]:
book_recommendation_books_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   isbn    271360 non-null  object
 1   title   271360 non-null  object
 2   author  271359 non-null  object
 3   poster  271357 non-null  object
 4   token   271360 non-null  object
 5   token2  271360 non-null  object
dtypes: object(6)
memory usage: 12.4+ MB

In [25]:
# удаляю строки, где есть незаполненные значения
book_recommendation_books_ds = book_recommendation_books_ds.dropna()
book_recommendation_books_ds.head(5)

,isbn,title,author,poster,token,token2
0,0195153448,Classical Mythology,Mark P. O. Morford,http://images.amazon.com/images/P/0195153448.0...,0195153448,classicalmythology
1,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,0002005018,claracallan
2,0060973129,Decision in Normandy,Carlo D'Este,http://images.amazon.com/images/P/0060973129.0...,0060973129,decisioninnormandy
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,http://images.amazon.com/images/P/0374157065.0...,0374157065,fluthestoryofthegreatinfluenzapandemicof1918an...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,http://images.amazon.com/images/P/0393045218.0...,0393045218,themummiesofurumchi

In [26]:
# https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset
BOOK_RECOMMENDATION_RATINGS_PATH = './datasets/src/books/Book_Recommendation_Dataset/Ratings.csv'
book_recommendation_ratings_ds = pd.read_csv(BOOK_RECOMMENDATION_RATINGS_PATH)
book_recommendation_ratings_ds = book_recommendation_ratings_ds.rename(columns={'ISBN': 'isbn', 'User-ID': 'user_id', 'Book-Rating': 'rating'})
book_recommendation_ratings_ds.head(5)

   user_id        isbn  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

### Goodreads Book Datasets With User Rating 2M

В этом датасете несколько файлов по книгам - выберу подходящие

In [27]:
# https://www.kaggle.com/datasets/bahramjannesarr/goodreads-book-datasets-10m
good_reads_books_files = ['book1-100k.csv', 'book100k-200k.csv', 'book200k-300k.csv', 'book300k-400k.csv', 'book400k-500k.csv', 'book500k-600k.csv', 'book600k-700k.csv', 'book700k-800k.csv', 'book800k-900k.csv', 'book900k-1000k.csv', 'book1000k-1100k.csv', 'book1100k-1200k.csv', 'book1200k-1300k.csv', 'book1300k-1400k.csv', 'book1400k-1500k.csv', 'book1500k-1600k.csv', 'book1600k-1700k.csv', 'book1700k-1800k.csv']
GOOD_READS_BOOKS_PATH = './datasets/src/books/GoodreadsBookDatasetsWithUserRating2M/'
good_reads_books_ds = pd.DataFrame(columns=['isbn','title','author','pages','token'])
for file in good_reads_books_files:
    good_reads_books_ds_temp = pd.read_csv(GOOD_READS_BOOKS_PATH + file)
    good_reads_books_ds_temp = good_reads_books_ds_temp[['Name', 'pagesNumber', 'Authors', 'ISBN']]
    good_reads_books_ds_temp = good_reads_books_ds_temp.rename(columns={'ISBN': 'isbn', 'Name': 'title', 'Authors': 'author', 'pagesNumber': 'pages'})
    good_reads_books_ds_temp['token'] = good_reads_books_ds_temp['isbn']
    good_reads_books_ds_temp = good_reads_books_ds_temp.dropna()
    good_reads_books_ds = pd.concat([good_reads_books_ds, good_reads_books_ds_temp])

good_reads_books_ds.head(5)

,isbn,title,author,pages,token
1,0439358078,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,0439358078
3,0439554896,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,352,0439554896
4,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,435,043965548X
6,0439682584,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",J.K. Rowling,2690,0439682584
7,0976540606,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,152,0976540606

### GoodReads Best Books

In [28]:
# https://www.kaggle.com/datasets/thedevastator/comprehensive-overview-of-52478-goodreads-best-b
GOOD_READS_BEST_BOOKS_PATH = './datasets/src/books/GoodReadsBestBooks.csv'
good_reads_best_books_ds = pd.read_csv(GOOD_READS_BEST_BOOKS_PATH)
good_reads_best_books_ds = good_reads_best_books_ds[['isbn', 'title', 'author', 'genres']]
good_reads_best_books_ds['token'] = good_reads_best_books_ds['isbn'].str[3:]
good_reads_best_books_ds['token2'] = good_reads_best_books_ds['title'].str.lower().str.replace(pat='[^\w]', repl='', regex=True)

good_reads_best_books_ds.head(5)

,isbn,title,author,genres,token,token2
0,9780439023481,The Hunger Games,Suzanne Collins,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",0439023481,thehungergames
1,9780439358071,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)","['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",0439358071,harrypotterandtheorderofthephoenix
2,9999999999999,To Kill a Mockingbird,Harper Lee,"['Classics', 'Fiction', 'Historical Fiction', ...",9999999999,tokillamockingbird
3,9999999999999,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)","['Classics', 'Fiction', 'Romance', 'Historical...",9999999999,prideandprejudice
4,9780316015844,Twilight,Stephenie Meyer,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",0316015844,twilight

### Подготовка результирующих датасетов

В исходных датасетах по книгам добавлено поле `token`, куда помещен идентификатор ISBN. По этому полю и будет производиться объединение первых двух датасетов. Так же добавлен добавлено поле `token2`, содержащее название книги без пробелов и знаков препинания. Служит для объединения с третьим датасетом.

In [29]:
books_df = book_recommendation_books_ds.merge(good_reads_books_ds[['token', 'pages']], on='token')
books_df = books_df.merge(good_reads_best_books_ds[['token2', 'genres']], on='token2')
books_df.head(5)

,isbn,title,author,poster,token,token2,pages,genres
0,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,0440234743,thetestament,535,"['Fiction', 'Thriller', 'Mystery', 'Legal Thri..."
1,0671448331,The Testament,Elie Wiesel,http://images.amazon.com/images/P/0671448331.0...,0671448331,thetestament,346,"['Fiction', 'Thriller', 'Mystery', 'Legal Thri..."
2,0440295734,The Testament,John Grisham,http://images.amazon.com/images/P/0440295734.0...,0440295734,thetestament,533,"['Fiction', 'Thriller', 'Mystery', 'Legal Thri..."
3,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,http://images.amazon.com/images/P/0609804618.0...,0609804618,ourdumbcenturytheonionpresents100yearsofheadli...,164,"['Humor', 'History', 'Comedy', 'Nonfiction', '..."
4,0375406328,Lying Awake,Mark Salzman,http://images.amazon.com/images/P/0375406328.0...,0375406328,lyingawake,181,"['Fiction', 'Religion', 'Spirituality', 'Liter..."

Проверю на дубли сочетание автора и названия книги.

In [30]:
books_df_dup_test = books_df[['title', 'author']]
books_df_dup_test = books_df_dup_test.drop_duplicates()
books_df = books_df[books_df.index.isin(books_df_dup_test.index)]
books_df_dup_test = books_df[['isbn']]
books_df_dup_test = books_df_dup_test.drop_duplicates()
books_df = books_df[books_df.index.isin(books_df_dup_test.index)]

Оставлю только нужные поля в датасете и отформатирую жанры

In [31]:
books_df = books_df[['isbn', 'title', 'author', 'poster', 'pages', 'genres']]
books_df.head(5)

,isbn,title,author,poster,pages,genres
0,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,535,"['Fiction', 'Thriller', 'Mystery', 'Legal Thri..."
1,0671448331,The Testament,Elie Wiesel,http://images.amazon.com/images/P/0671448331.0...,346,"['Fiction', 'Thriller', 'Mystery', 'Legal Thri..."
3,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,http://images.amazon.com/images/P/0609804618.0...,164,"['Humor', 'History', 'Comedy', 'Nonfiction', '..."
4,0375406328,Lying Awake,Mark Salzman,http://images.amazon.com/images/P/0375406328.0...,181,"['Fiction', 'Religion', 'Spirituality', 'Liter..."
6,0449005615,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,401,"['Nonfiction', 'History', 'Biography', 'Sports..."

In [32]:
# Создаю item_id для работы модели
books_df = books_df.reset_index(drop=True)
books_df['item_id'] = books_df.index

In [33]:
def prepare_genres(genres_str):
        return genres_str\
            .replace('american revolutionary war', 'history')\
            .replace('american revolution', 'history')\
            .replace('10th century', 'history')\
            .replace('11th century', 'history')\
            .replace('12th century', 'history')\
            .replace('13th century', 'history')\
            .replace('14th century', 'history')\
            .replace('15th century', 'history')\
            .replace('16th century', 'history')\
            .replace('17th century', 'history')\
            .replace('18th century', 'history')\
            .replace('19th century', 'history')\
            .replace('20th century', 'history')\
            .replace('21th century', 'history')\
            .replace('21st century', 'history')\
            .replace('alternate history', 'history')\
            .replace('american civil war', 'history')\
            .replace('american history', 'history')\
            .replace('civil war history', 'history')\
            .replace('european history', 'history')\
            .replace('japanese history', 'history')\
            .replace('medieval history', 'history')\
            .replace('microhistory', 'history')\
            .replace('military history', 'history')\
            .replace('native history', 'history')\
            .replace('natural history', 'history')\
            .replace('naval history', 'history')\
            .replace('oral history', 'history')\
            .replace('russian history', 'history')\
            .replace('world history', 'history')\
            .replace('world war ii', 'history')\
            .replace('world war i', 'history')\
            .replace('ancient history', 'history')\
            .replace('ancient', 'history')\
            .replace('ancient', 'history')\
            .replace('historical fiction', 'history')\
            .replace('historical mystery', 'history')\
            .replace('historical romance', 'history')\
            .replace('historical', 'history')\
            .replace('russian revolution', 'history')\
            .replace('spanish civil war', 'history')\
            .replace('civil war eastern theater', 'history')\
            .replace('civil war', 'history')\
            .replace('elizabethan period', 'history')\
            .replace('historical', 'history')\
            .replace('historical', 'history')\
            .replace('historical', 'history')\
            .replace('historical', 'history')\
            .replace('historical', 'history')\
            .replace('aliens', 'fantasy')\
            .replace('christian fantasy', 'fantasy')\
            .replace('comic fantasy', 'fantasy')\
            .replace('dark fantasy', 'fantasy')\
            .replace('epic fantasy', 'fantasy')\
            .replace('fantasy romance', 'fantasy')\
            .replace('heroic fantasy', 'fantasy')\
            .replace('high fantasy', 'fantasy')\
            .replace('historical fantasy', 'fantasy')\
            .replace('paranormal urban fantasy', 'fantasy')\
            .replace('sci fi fantasy', 'fantasy')\
            .replace('science fiction fantasy', 'fantasy')\
            .replace('young adult fantasy', 'fantasy')\
            .replace('urban fantasy', 'fantasy')\
            .replace('zombies', 'fantasy')\
            .replace('wizards', 'fantasy')\
            .replace('1st grade', '')\
            .replace('40k', '')\
            .replace('abuse', '')\
            .replace('academia', '')\
            .replace('academic', '')\
            .replace('activism', '')\
            .replace('african american literature', 'fantasy')\
            .replace('african american romance', 'fantasy')\
            .replace('african american', '')\
            .replace('amazon', '')\
            .replace('amish fiction', '')\
            .replace('amish', '')\
            .replace('anime', '')\
            .replace('adoption', '')\
            .replace('adult', '')\
            .replace('adult fiction', '')\
            .replace('american fiction', '')\
            .replace('americana', '')\
            .replace('angels', '')\
            .replace('anti racist', '')\
            .replace('audiobook', '')\
            .replace('back to school', '')\
            .replace('bande dessinée', '')\
            .replace('banned books', '')\
            .replace('batman', '')\
            .replace('bdsm', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('beauty and the beast', '')\
            .replace('asian literature', 'world literature')\
            .replace('african literature', 'world literature')\
            .replace('albanian literature', 'world literature')\
            .replace('british literature', 'world literature')\
            .replace('canadian literature', 'world literature')\
            .replace('chinese literature', 'world literature')\
            .replace('czech literature', 'world literature')\
            .replace('dutch literature', 'world literature')\
            .replace('english literature', 'world literature')\
            .replace('european literature', 'world literature')\
            .replace('finnish literature', 'world literature')\
            .replace('french literature', 'world literature')\
            .replace('german literature', 'world literature')\
            .replace('hungarian literature', 'world literature')\
            .replace('indian literature', 'world literature')\
            .replace('indonesian literature', 'world literature')\
            .replace('irish literature', 'world literature')\
            .replace('italian literature', 'world literature')\
            .replace('japanese literature', 'world literature')\
            .replace('latin american literature', 'world literature')\
            .replace('polish literature', 'world literature')\
            .replace('portuguese literature', 'world literature')\
            .replace('romanian literature', 'world literature')\
            .replace('russian literature', 'world literature')\
            .replace('scandinavian literature', 'world literature')\
            .replace('spanish literature', 'world literature')\
            .replace('swedish literature', 'world literature')\
            .replace('turkish literature', 'world literature')\
            .replace('africa', 'countries')\
            .replace('asia', 'countries')\
            .replace('belgium', 'countries')\
            .replace('american', 'countries')\
            .replace('belgian', 'countries')\
            .replace('bolivia', 'countries')\
            .replace('botswana', 'countries')\
            .replace('brazil', 'countries')\
            .replace('bulgaria', 'countries')\
            .replace('canada', 'countries')\
            .replace('china', 'countries')\
            .replace('danish', 'countries')\
            .replace('denmark', 'countries')\
            .replace('egypt', 'countries')\
            .replace('ethiopia', 'countries')\
            .replace('france', 'countries')\
            .replace('georgian', 'countries')\
            .replace('greece', 'countries')\
            .replace('germany', 'countries')\
            .replace('india', 'countries')\
            .replace('iran', 'countries')\
            .replace('ireland', 'countries')\
            .replace('israel', 'countries')\
            .replace('italy', 'countries')\
            .replace('japan', 'countries')\
            .replace('kazakhstan', 'countries')\
            .replace('kenya', 'countries')\
            .replace('latin american', 'countries')\
            .replace('moroccan', 'countries')\
            .replace('morocco', 'countries')\
            .replace('native americans', 'countries')\
            .replace('nigeria', 'countries')\
            .replace('pakistan', 'countries')\
            .replace('republic of the congo', 'countries')\
            .replace('romania', 'countries')\
            .replace('russia', 'countries')\
            .replace('rwanda', 'countries')\
            .replace('scotland', 'countries')\
            .replace('somalia', 'countries')\
            .replace('south africa', 'countries')\
            .replace('soviet union', 'countries')\
            .replace('spain', 'countries')\
            .replace('sudan', 'countries')\
            .replace('tanzania', 'countries')\
            .replace('tasmania', 'countries')\
            .replace('turkish', 'countries')\
            .replace('ukraine', 'countries')\
            .replace('united states', 'countries')\
            .replace('western africa', 'countries')\
            .replace('zimbabwe', 'countries')\
            .replace('tasmania', 'countries')\
            .replace('algeria', 'countries')\
            .replace('australia', 'countries')\
            .replace('agriculture', 'science')\
            .replace('alcohol', 'science')\
            .replace('anarchism', 'science')\
            .replace('animals', 'science')\
            .replace('anthropology', 'science')\
            .replace('anthropomorphic', 'science')\
            .replace('archaeology', 'science')\
            .replace('architecture', 'science')\
            .replace('artificial intelligence', 'science')\
            .replace('aspergers', 'science')\
            .replace('astronomy', 'science')\
            .replace('banking', 'science')\
            .replace('banks', 'science')\
            .replace('biology', 'science')\
            .replace('birds', 'science')\
            .replace('brain', 'science')\
            .replace('buisness', 'science')\
            .replace('business', 'science')\
            .replace('computer science', 'science')\
            .replace('computers', 'science')\
            .replace('cryptozoology', 'science')\
            .replace('dictionaries', 'science')\
            .replace('dinosaurs', 'science')\
            .replace('eastern philosophy', 'science')\
            .replace('ecology', 'science')\
            .replace('economics', 'science')\
            .replace('education', 'science')\
            .replace('ethnography', 'science')\
            .replace('evolution', 'science')\
            .replace('finance', 'science')\
            .replace('fundamentalism', 'science')\
            .replace('gender', 'science')\
            .replace('geography', 'science')\
            .replace('geology', 'science')\
            .replace('geometry', 'science')\
            .replace('guides', 'science')\
            .replace('hackers', 'science')\
            .replace('hard science fiction', 'science')\
            .replace('history of science', 'science')\
            .replace('illness', 'science')\
            .replace('language', 'science')\
            .replace('law', 'science')\
            .replace('mathematics', 'science')\
            .replace('medicine', 'science')\
            .replace('philosophy', 'science')\
            .replace('popular science', 'science')\
            .replace('psychology', 'science')\
            .replace('quantum mechanics', 'science')\
            .replace('space', 'science')\
            .replace('teachers', 'science')\
            .replace('teaching', 'science')\
            .replace('technical', 'science')\
            .replace('technology', 'science')\
            .replace('trains', 'science')\
            .replace('transport', 'science')\
            .replace('travelogue', 'science')\
            .replace('adventure', 'action')\
            .replace('category romance', 'novel')\
            .replace('christian romance', 'novel')\
            .replace('clean romance', 'novel')\
            .replace('countries romance', 'novel')\
            .replace('gothic romance', 'novel')\
            .replace('harlequin romance', 'novel')\
            .replace('medieval romance', 'novel')\
            .replace('military romance', 'novel')\
            .replace('victorian romance', 'novel')\
            .replace('viking romance', 'novel')\
            .replace('western romance', 'novel')\
            .replace('young  romance', 'novel')\
            .replace('novella', 'novel')\
            .replace('novels', 'novel')

In [34]:
import json

def filter_book_genres(genres):
    allowed_genres = [
        'history',
        'fantasy',
        'world literature',
        'countries',
        'science',
        'action',
        'novel',
    ]
    
    result = []
    for genre in genres:
        if genre in allowed_genres:
            result.append(genre)
            
    return result

def format_book_genres(genres):
    result = genres.lower()
    result = result.replace('[', '')
    result = result.replace(']', '')
    result = result.replace("'", '')
    result = prepare_genres(result)
    
    result = filter_book_genres(set(result.split(', ')))
    return ','.join(result)

books_df['genres'] = books_df['genres'].apply(format_book_genres)
books_df = books_df.query('genres != ""')
books_df.head()

,isbn,title,author,poster,pages,genres,item_id
0,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,535,"novel,science",0
1,0671448331,The Testament,Elie Wiesel,http://images.amazon.com/images/P/0671448331.0...,346,"novel,science",1
2,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,http://images.amazon.com/images/P/0609804618.0...,164,"countries,history",2
3,0375406328,Lying Awake,Mark Salzman,http://images.amazon.com/images/P/0375406328.0...,181,novel,3
4,0449005615,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,401,"science,history",4

Подготовлю данные по жанрам

In [35]:
uniq_book_genres = set()
for _, row in books_df.copy().iterrows():
    genres = row['genres'].split(',')
    uniq_book_genres |= set(genres)

uniq_book_genres = pd.DataFrame(list(uniq_book_genres), columns=['genre']).sort_values(by='genre').reset_index(drop=True)
print(uniq_book_genres['genre'].unique())
print(len(uniq_book_genres['genre'].unique()))
print(books_df.shape[0])

['action' 'countries' 'fantasy' 'history' 'novel' 'science'
 'world literature']
7
7473

Фильтрую отзывы

In [36]:
book_recommendation = book_recommendation_ratings_ds.query('isbn in @books_df.isbn')
book_recommendation.head(5)

    user_id        isbn  rating
1    276726  0155061224       5
19   276747  0671537458       9
20   276747  0679776818       8
29   276755  0451166892       5
97   276798  3548603203       6

Добавляю информацию о том, понравилась книга пользователю или нет. Если рейтинг ниже 7, то не понравилась, иначе - понравилась.

In [37]:
book_recommendation['liked'] = book_recommendation['rating'].apply(lambda x: 1 if x >= 6 else 0)
book_recommendation.head(5)

/var/folders/3b/mg41vt6d0s78zc502ydbvmyh0000gn/T/ipykernel_6418/2273305055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_recommendation['liked'] = book_recommendation['rating'].apply(lambda x: 1 if x >= 6 else 0)

    user_id        isbn  rating  liked
1    276726  0155061224       5      0
19   276747  0671537458       9      1
20   276747  0679776818       8      1
29   276755  0451166892       5      0
97   276798  3548603203       6      1

In [38]:
# Добавляю item_id
book_recommendation = book_recommendation.merge(books_df[['item_id', 'isbn']], on='isbn')

In [39]:
book_recommendation = book_recommendation[['user_id', 'liked', 'item_id']]

Сохраняю данные в файлы

In [40]:
# os.makedirs('./datasets/books', exist_ok=True)

# books_df.to_csv('./datasets/books/books.csv',
#           sep='\t', 
#           index=False)

# book_recommendation.to_csv('./datasets/books/ratings.csv',
#           sep='\t', 
#           index=False)

# uniq_book_genres.to_csv('./datasets/books/genres.csv',
#           sep='\t', 
#           index=False)

## Предобработка данных по музыке

### Импорты

In [41]:
import pandas as pd
import os

### Spotify Tracks DB

In [42]:
# https://www.kaggle.com/datasets/zaheenhamidani/ultimate-spotify-tracks-db
SPOTIFY_TRACKS_DB_PATH = './datasets/src/tracks/SpotifyTracksDB.csv'
spotify_tracks_db_ds = pd.read_csv(SPOTIFY_TRACKS_DB_PATH)

spotify_tracks_db_ds.head(5)

,genre,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,Movie,Henri Salvador,C'est beau de faire un Show,0BRjO6ga9RKCKjfDqeFgWV,0,0.611,0.389,99373,0.910,0.000,C#,0.3460,-1.828,Major,0.0525,166.969,4/4,0.814
1,Movie,Martin & les fées,Perdu d'avance (par Gad Elmaleh),0BjC1NfoEOOusryehmNudP,1,0.246,0.590,137373,0.737,0.000,F#,0.1510,-5.559,Minor,0.0868,174.003,4/4,0.816
2,Movie,Joseph Williams,Don't Let Me Be Lonely Tonight,0CoSDzoNIKCRs124s9uTVy,3,0.952,0.663,170267,0.131,0.000,C,0.1030,-13.879,Minor,0.0362,99.488,5/4,0.368
3,Movie,Henri Salvador,Dis-moi Monsieur Gordon Cooper,0Gc6TVm52BwZD07Ki6tIvf,0,0.703,0.240,152427,0.326,0.000,C#,0.0985,-12.178,Major,0.0395,171.758,4/4,0.227
4,Movie,Fabien Nataf,Ouverture,0IuslXpMROHdEPvSl1fTQK,4,0.950,0.331,82625,0.225,0.123,F,0.2020,-21.150,Major,0.0456,140.576,4/4,0.390

In [43]:
spotify_tracks_db_ds['genre'].unique()

array(['Movie', 'R&B', 'A Capella', 'Alternative', 'Country', 'Dance',
       'Electronic', 'Anime', 'Folk', 'Blues', 'Opera', 'Hip-Hop',
       "Children's Music", 'Children’s Music', 'Rap', 'Indie',
       'Classical', 'Pop', 'Reggae', 'Reggaeton', 'Jazz', 'Rock', 'Ska',
       'Comedy', 'Soul', 'Soundtrack', 'World'], dtype=object)

Удалю треки с жанрами `Movie`, `A Capella`, `Anime`, `Children's Music`, `Children’s Music`, `Comedy`, `Soundtrack`, `World`

In [44]:
removed_genres = ['Movie', 'A Capella', 'Anime', 'Children\'s Music', 'Children’s Music', 'Comedy', 'Soundtrack', 'World']
spotify_tracks_db_ds = spotify_tracks_db_ds.query('genre not in @removed_genres')
spotify_tracks_db_ds['genre'].unique()

array(['R&B', 'Alternative', 'Country', 'Dance', 'Electronic', 'Folk',
       'Blues', 'Opera', 'Hip-Hop', 'Rap', 'Indie', 'Classical', 'Pop',
       'Reggae', 'Reggaeton', 'Jazz', 'Rock', 'Ska', 'Soul'], dtype=object)

In [45]:
spotify_tracks_db_ds.shape

(172685, 18)

In [46]:
spotify_tracks_db_ds.head(5)

,genre,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
135,R&B,Mary J. Blige,Be Without You - Kendu Mix,2YegxR5As7BeQuVp2U6pek,65,0.0830,0.724,246333,0.689,0.000000,D,0.3040,-5.922,Minor,0.1350,146.496,4/4,0.6930
136,R&B,Rihanna,Desperado,6KFaHC9G178beAp7P0Vi5S,63,0.3230,0.685,186467,0.610,0.000000,C,0.1020,-5.221,Minor,0.0439,94.384,3/4,0.3230
137,R&B,Yung Bleu,Ice On My Baby (feat. Kevin Gates) - Remix,6muW8cSjJ3rusKJ0vH5olw,62,0.0675,0.762,199520,0.520,0.000004,F,0.1140,-5.237,Minor,0.0959,75.047,4/4,0.0862
138,R&B,Surfaces,Heaven Falls / Fall on Me,7yHqOZfsXYlicyoMt62yC6,61,0.3600,0.563,240597,0.366,0.002430,B,0.0955,-6.896,Minor,0.1210,85.352,4/4,0.7680
139,R&B,Olivia O'Brien,Love Myself,4XzgjxGKqULifVf7mnDIQK,68,0.5960,0.653,213947,0.621,0.000000,B,0.0811,-5.721,Minor,0.0409,100.006,4/4,0.4660

### Spotify Popularity 2019-22

In [47]:
# https://www.kaggle.com/datasets/cbhavik/music-taste-recommendation
SPOTIFY_POPULARITY_PATH = './datasets/src/tracks/SpotifyPopularity2019-22.csv'
spotify_popularity_ds = pd.read_csv(SPOTIFY_POPULARITY_PATH)

spotify_popularity_ds.head(5)

,Unnamed: 0,liked,personalized,song_id,spotify_popularity,timestamp,user_id
0,0,0,1,32192,87,2019-06-21 01:04:23,3720277
1,1,0,1,6801,45,2019-06-21 01:04:33,3720277
2,2,0,1,31643,62,2019-06-21 01:04:35,3720277
3,3,0,1,1864239,72,2019-06-21 01:04:48,3720277
4,4,0,1,38804,73,2019-06-21 01:05:13,3720277

### Подготовка результирующих датасетов

Т.к. в датасете с рейтингом данные песен обезличены, то этот датасет я буду использовать в качестве моков.

Оставляю только нужные колонки, делаю переименование, форматирование жанра, продолжительности. Сортирую по популярности.

In [48]:
tracks_df = spotify_tracks_db_ds.sort_values(by='popularity', ascending=False)
tracks_df = tracks_df[['track_id', 'artist_name', 'track_name', 'duration_ms', 'energy', 'genre']]
tracks_df = tracks_df.rename(columns={'artist_name': 'artist', 'track_name': 'name'})
tracks_df['genre'] = tracks_df['genre'].str.lower()
tracks_df['duration'] = (tracks_df['duration_ms'] / 1000).round()
tracks_df = tracks_df.drop('duration_ms', axis=1)
tracks_df.head(5)

,track_id,artist,name,energy,genre,duration
107804,14msK75pk3pA33pzPVNtBF,Ariana Grande,7 rings,0.321,pop,179.0
9027,14msK75pk3pA33pzPVNtBF,Ariana Grande,7 rings,0.321,dance,179.0
9026,4kV4N9D1iKVxx1KLvtTpjS,Ariana Grande,"break up with your girlfriend, i'm bored",0.554,dance,190.0
107802,4kV4N9D1iKVxx1KLvtTpjS,Ariana Grande,"break up with your girlfriend, i'm bored",0.554,pop,190.0
107803,6MWtB6iiXyIwun0YzU6DFP,Post Malone,Wow.,0.539,pop,150.0

In [49]:
tracks_df.duplicated().value_counts()

False    172685
dtype: int64

Удаляю дубли

In [50]:
tracks_df_dup_test = tracks_df[['track_id']]
tracks_df_dup_test = tracks_df_dup_test.drop_duplicates()
tracks_df = tracks_df[tracks_df.index.isin(tracks_df_dup_test.index)]
tracks_df.head(5)

,track_id,artist,name,energy,genre,duration
107804,14msK75pk3pA33pzPVNtBF,Ariana Grande,7 rings,0.321,pop,179.0
9026,4kV4N9D1iKVxx1KLvtTpjS,Ariana Grande,"break up with your girlfriend, i'm bored",0.554,dance,190.0
107803,6MWtB6iiXyIwun0YzU6DFP,Post Malone,Wow.,0.539,pop,150.0
107909,5w9c2J52mkdntKOmRLeM2m,Daddy Yankee,Con Calma,0.860,pop,193.0
9028,5p7ujcrUXASCNwRaWNHR1C,Halsey,Without Me,0.488,dance,202.0

In [51]:
# Создаю item_id для работы модели
tracks_df = tracks_df.reset_index(drop=True)
tracks_df['item_id'] = tracks_df.index

Готовлю моки рейтингов, произвожу сортировку по количеству отзывов, оставляю такое количество песен, что есть в датафрейме с песнями, подставляю `track_id`

In [52]:
track_popularity_df = spotify_popularity_ds[['user_id', 'song_id', 'liked']]
track_popularity_df.head(5)

   user_id  song_id  liked
0  3720277    32192      0
1  3720277     6801      0
2  3720277    31643      0
3  3720277  1864239      0
4  3720277    38804      0

In [53]:
track_popularity_pt = track_popularity_df.pivot_table(index='song_id', values='user_id', aggfunc='count')
track_popularity_pt = track_popularity_pt.sort_values(by='user_id', ascending=False)
track_popularity_pt

         user_id
song_id
2469655     1607
3463        1323
1049        1299
5037296     1265
540         1180
...          ...
1891618        1
1891615        1
1891610        1
1891607        1
8120888        1

[181663 rows x 1 columns]

In [54]:
track_popularity_pt = track_popularity_pt[:tracks_df.shape[0]]
track_popularity_pt.head(5)

         user_id
song_id
2469655     1607
3463        1323
1049        1299
5037296     1265
540         1180

In [55]:
track_popularity_with_track_id = pd.DataFrame(track_popularity_pt.index)
track_popularity_with_track_id['track_id'] = tracks_df['track_id'].reset_index(drop= True)
track_popularity_with_track_id.index = track_popularity_with_track_id['song_id']
track_popularity_with_track_id.head(5)

         song_id                track_id
song_id
2469655  2469655  14msK75pk3pA33pzPVNtBF
3463        3463  4kV4N9D1iKVxx1KLvtTpjS
1049        1049  6MWtB6iiXyIwun0YzU6DFP
5037296  5037296  5w9c2J52mkdntKOmRLeM2m
540          540  5p7ujcrUXASCNwRaWNHR1C

Удаляю рейтинги песен, не вошедших в датафрейм с информацией о песнях и назначаю `track_id` датафрейму с рейтингами.

In [56]:
track_popularity_df = track_popularity_df.query('song_id in @track_popularity_with_track_id.song_id')
track_popularity_df.head(5)

   user_id  song_id  liked
0  3720277    32192      0
1  3720277     6801      0
2  3720277    31643      0
3  3720277  1864239      0
4  3720277    38804      0

In [57]:
track_popularity_df['track_id'] = track_popularity_df.apply(lambda row: track_popularity_with_track_id.loc[row.song_id]['track_id'], axis=1)
track_popularity_df.head(5)

   user_id  song_id  liked                track_id
0  3720277    32192      0  2N5zMZX7YeL1tico8oQxa9
1  3720277     6801      0  6yraFyhgbavO2amB2lhpfi
2  3720277    31643      0  35lBL83KZl80dHivikZKEq
3  3720277  1864239      0  6mMxQLicgNPFxCPxT96fQf
4  3720277    38804      0  1ZsURRKj1wHUeQq6kZze8S

In [58]:
# Добавляю item_id
track_popularity_df = track_popularity_df.merge(tracks_df[['item_id', 'track_id']], on='track_id')

In [59]:
track_popularity_df = track_popularity_df.drop(['song_id', 'track_id'], axis=1)

In [60]:
track_popularity_df['liked'] = track_popularity_df['liked'].apply(lambda x: 1 if x >= 1 else 0)
track_popularity_df.head(5)
print(track_popularity_df['liked'].unique())

[0 1]

Подготовлю данные по жанрам

In [61]:
uniq_track_genres = pd.DataFrame(list(tracks_df['genre'].unique()), columns=['genre']).sort_values(by='genre').reset_index(drop=True)
uniq_track_genres

          genre
0   alternative
1         blues
2     classical
3       country
4         dance
5    electronic
6          folk
7       hip-hop
8         indie
9          jazz
10        opera
11          pop
12          r&b
13          rap
14       reggae
15    reggaeton
16         rock
17          ska
18         soul

Сохраняю данные в файлы

In [63]:
# os.makedirs('./datasets/tracks', exist_ok=True)

# tracks_df.to_csv('./datasets/tracks/tracks.csv',
#           sep='\t', 
#           index=False)

# track_popularity_df.to_csv('./datasets/tracks/ratings.csv',
#           sep='\t', 
#           index=False)

# uniq_track_genres.to_csv('./datasets/tracks/genres.csv',
#           sep='\t', 
#           index=False)